    <footer >
        <div class="container">
            <h2>Socialize</h2>
            <ul class="socials">
                <li><a href="https://www.facebook.com/pateljeel.h.7" target="_blank" title="My Facebook link"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/jeelpatel._/" target="_blank" title="My Instgram Link"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/Devjeel" target="_blank" title="My GitHub Link"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </footer>
   </body>
</html>