<% include ./partials/header.ejs %>

<h1> Welcome to signup form page !</h1>

<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username"> 
    <input type="password" name="password" placeholder="password"> 
    <button>Sign Up!</button>
</form>

<% include ./partials/footer.ejs %>